@import "colores";
@import "estructura";
@import "tipografia";

.imagen {
    width: 50px;
  }

.imagen1 {
    background-image: url(../imagen/fondosublimacion.jpg);
    background-size: 100%;
  }
.fondo {
    background-color:$color_fondo;;
    border-radius: 1vw;

  }
.fondo__table {
    gap: -2;
    text-align: center;
    
}

.fondo__table--activo {
    color: rgb(64, 45, 192);
    text-transform: uppercase;
}
.titulo {
    color: black;
    text-align: center;
}
.titulo__tipo {
    text-decoration-line: underline;
    text-transform: uppercase;
}
.titulo2 {
    background-color: $color_fondo2;
    color: $color_fondo3;
    text-align: center;
    
}
.header__logo {
    width: 5vw;
}
.imagen3 {
    background-image:url("../imagen/jarras.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 50vw;
    height: 50vw;
    margin: 1vw;
  }
  .imagen4 {
    background-image:url("../imagen/kit\ jardin.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    height: 50vw;
    margin: 1vw;
  }
  
  .imagen5 {
    background-image:url("../imagen/Taza.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    height: 50vw;
    margin: 1vw;
  }
  
  .imagen6 {
    background-image:url("../imagen/jarras1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
  }
  .imagen7 {
    background-image:url("../imagen/kit\ jardin1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
  }
  .imagen8 {
    background-image:url("../imagen/kits\ madres.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
  }
  .imagen9 {
    background-image:url("../imagen/taza2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
  }
  .imagen10 {
    background-image:url("../imagen/kit\ mate.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
  }
  .imagen11 {
    background-image:url("../imagen/kit\ mate1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
  }
  .padre-flex {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.grid1{
    display: grid;
    grid-template-columns: 40vw 40vw 40vw;
    grid-template-rows: 80vw;
    justify-content:center;
    align-content: center;
     }